*{
    font-family: "LiterationMono Nerd Font";
    font-size: 15px;
}
window {
margin: 0px;
border: 1px solid #173dd4;
background-color: #173dd4;
}

#input {
margin: 5px;
border: none;
color: #ebdbb2;
background-color: #173dd4;
}

#inner-box {
margin: 5px;
border: none;
background-color: #173dd4;
}

#outer-box {
margin: 5px;
border: none;
background-color: #173dd4;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #ebdbb2;
}

#entry:selected {
    background-color: #3a6ea5;
}
