*{
    font-family: "Iosevka Nerd Font";
    font-size: 15px;
}

window {
    margin: auto;
    width: 400px;
    border: 1px solid ;
    background-color: #c4c7cc;
}

#input {
    margin: 5px;
    border: none;
    color: #ffffff;
    background-color: #c4c7cc;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #c4c7cc;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #c4c7cc;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #333030;
}

#entry:selected {
    background-color: #84868a;
}
